.git
.gitignore
.env
*.pyc
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
*.egg
.eggs/
*.log
.DS_Store
*.sqlite3
staticfiles/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
node_modules/
